*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --grey-color: #414141;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body{
    display:flex;
    background-color: #150d0a;
    background-image: url(/assets/img/red_leather_bg.jpg);
    color: #f7b10a;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    text-shadow: 0 2px 0 #000,1px 0 5px #000,0 1px 5px #000,-1px 0 5px #000,0 -1px 5px #000;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 16px;
    margin-bottom: 5rem;
    padding: .5rem;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.input-ctn{
    background-color: #222222;
    background-image: url(/assets/img/dark_leather_bg.jpg);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    padding: 2rem;
    margin: .2rem;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
}

.input-column-ctn {
    flex-direction: column;
    display:flex;
    padding: 1rem;
    width: min(200px);
    justify-items: stretch;
}

.WcLikeButton {
    font-size: 1.08rem;
    line-height: 1.5;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    border-color: transparent;
    border-style: solid;
    border-width: 7px;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: relative;
    max-height: 65px;
}

.WcLikeButton:after,.WcLikeButton:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block
}

.WcLikeButton:before {
    opacity: 0
}

.WcLikeButton.WcLikeButton--primary {
    background: transparent linear-gradient(0deg,#4e0000 20%,#860000 80%) 50% repeat
}

.WcLikeButton.WcLikeButton--primary:before {
    background: linear-gradient(0deg,#600000 20%,#ae0000 80%)
}

.WcLikeButton:after {
    border-image-outset: 7px;
    border-image-width: 16px;
    border-image-slice: 16 fill;
    border-image-source: url(/assets/img/button_frame.png);
    border-image-repeat: round
}

.WcLikeButton-inner:after,.WcLikeButton-inner:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block
}

.WcLikeButton-inner:after {
    background: transparent url(/assets/img/button_inner_texture_dark.png) 0 0 repeat;
    background-size: 200px
}

.WcLikeButton--primary .WcLikeButton-inner:before {
    border-image-width: 11px 13px;
    border-image-slice: 11 13 fill;
    border-image-repeat: round;
    border-image-outset: 0;
    border-image-source: url(/assets/img/button_inner_border.png)
}

.WcLikeButton--primary .WcLikeButton-inner:after {
    background: transparent url(/assets/img/button_inner_texture_red.png) 0 0 repeat;
    background-size: 200px
}

.WcLikeButton-label {
    color: #f7b10a;
    text-transform: uppercase;
    text-shadow: 0 2px 0 #000,1px 0 5px #000,0 1px 5px #000,-1px 0 5px #000,0 -1px 5px #000;
    position: relative;
    top: 0;
    z-index: 1;
    line-height: 1;
    white-space: nowrap
}

.WcLikeButton:hover {
    background-color: #ae0000;

}

.WcLikeButton:hover:before {
    opacity: 1;
}

.WcLikeButton:hover .WcLikeButton-label {
    color: #fff
}


@media (min-width: 980px) {
    .WcLikeButton-inner {
        padding:16px 22px 18px
    }
}
@media (min-width: 720px) {
    .WcLikeButton {
        font-size:.8rem
    }
}

@media (min-width: 1280px) {
    .WcLikeButton {
        font-size:1rem
    }
}

/* Database delete modal code begin*/
.dbDelModal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: #222222;
    background-image: url(/assets/img/Box-leather-grey.jpg);
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
  }
  
  .button-container {
    margin-top: 20px;
  }


.APIKeys{
    gap: 2rem;
    display: none;
    visibility: hidden;
    flex-direction: row;
    justify-content: space-around; 
}
.APIKeys * {
    display: none;
    flex-direction: row;
    margin-bottom: 20px;
}

.hor-input-line {
    display:flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.ver-input-line{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.addonSettings{
    display: none;
    visibility: hidden;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    margin-top: 0px;
    max-height: 200px;
}
.addonSettings * {
    display: none;
    flex-direction: row;
    margin-bottom: 20px; 
}

.db-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}


.UtilityBtns {
    display: flex;
    justify-content: space-between;
}


button#playAiVoice{
    display: none;
    visibility: hidden;
}

button#dlAiVoice{
    visibility: hidden;
    display: none;
}

#AiVoiceList {
    display: none;
    flex-direction: column;
}

#AiVoiceList ul {
    background-color: white;
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

#importFileInput{
    display:none;
}

#uploadDbBtn{
    display:none;
}

#uploadDbBtn:hover + #importFileInput {
    display: flex;
};

#AiVoiceList li {
    list-style: none;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 5px;
    flex-grow: 1;
}

.AiOptionsParent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding: .5rem;
}

.AiOptions{
    justify-content: center;
    display: none;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-left: 0px;
    padding: .5rem;
    flex-wrap: wrap;
}
.AiOptions > * {
    width: 80%;
    padding: 2rem;

}

.AiOptions * {
    display: flex;
    align-self: center;
    padding: 1rem;
}

#AiVoiceList li:hover {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 !important;
}

#AiVoiceList li {
    margin: .25rem;
    border-radius: .5rem;
    padding: .5rem;
}

button.top-btn-small {
    font-size: .5 rem;
    padding: .25rem .25rem;
    size: 0.5px!important;
    flex-grow: 0;
    flex-shrink: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



select {
    background-color: #000;
    color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .4rem;
    box-sizing: border-box;
    padding: .5rem;
}

textarea {
    background-color: #000;
    color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .4rem;
    box-sizing: border-box;
    min-height: 10rem;
    padding: .8rem;
    font-size: 16px;
}

input{
    gap: 1rem;
    background-color: #000;
    color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .4rem;
    box-sizing: border-box;
    padding: .5rem;
}

input[type="checkbox"] {
    min-height: 1.5rem;
    min-width: 1.5rem;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    border: 1px solid rgb(209,213,219);
    border-radius: .4rem;
    box-sizing: border-box;
    padding: .5rem;
    background-color: #000;
    color: #FFFFFF;
  }
  
  input[type=checkbox]:checked:before {
    content: "";
    display:block;
    width: 34px;
    height: 34px;
    border: 1px solid rgb(209,213,219);
    border-radius: .4rem;
    box-sizing: border-box;
    padding: .5rem;
    background-color: #990000;
    color: #FFFFFF;
  }

#localStorageList {
    background-image: url(/assets/img/Box-leather-grey.jpg);
    list-style: none;
    padding: 0px;
    margin-top: 50px;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
}

#localStorageList li:hover {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 !important;
}

#localStorageList li {
    margin: .25rem;
    border-radius: .5rem;
    padding: .5rem;
    cursor: pointer;
}

/* Spinning Loader from https://loading.io/css */
.lds-dual-ring {
    display: none;
    width: 80px;
    height: 80px;
    margin-bottom: 50px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  /*END Spinning Loader from https://loading.io/css */


/* responsive changes */
@media screen and (min-width: 1400px){
    #Text {
        max-width: auto;
    }
}
@media screen and (max-width: 1300px){
    .wrapper {
        flex-direction: column;
        text-align: center;
    }
    .nav-list{
        flex-direction: column;
        align-items: center;
    }
    .UtilityBtns{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        padding: .5rem;
    }
    .outer-left{
        align-self: auto;
    }
    
    .middle {
        align-self: auto;
    }
    
    .outer-right {
        align-self: auto; 
    }
    
    .middle-right {
        align-self: auto; 
    }
    
    .AIbtns {
        align-self: auto; 
    }
    .APIKeys{
        flex-direction: column;
    }
    .SecondLevel {
        display:flex;
        flex-direction: row;
        margin-left: 3.6rem;
    }
    .AiOptions * {
        display: flex;
        align-self: center;
        flex-direction: column;
    }
}
